<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemo"
        tools:targetApi="31">
        <activity
            android:name="com.android.demo.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.demo.lifecycle.TestLifecycleActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidDemo"/>

        <activity
            android:name="com.android.demo.aidl.AidlClientActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidDemo"/>

        <service android:name="com.android.demo.aidl.RemoteService" android:process=":remote_aidl"/>

        <activity
            android:name="com.android.demo.messenger.MessengerClientActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidDemo"/>

        <service android:name="com.android.demo.messenger.MessengerService" android:process=":remote_messenger"/>


        <activity
            android:name="com.android.demo.parcelable.ParcelableActivityA"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidDemo"/>

        <activity
            android:name="com.android.demo.parcelable.ParcelableActivityB"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidDemo"/>

        <activity
            android:name="com.android.demo.jni.JniDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidDemo"/>

    </application>

</manifest>